* {
    margin: 0;
    padding: 0
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Inter', sans-serif;
    /* font-family: 'Lobster', cursive;
    font-family: 'Manrope', sans-serif; 
    font-family: 'Roboto', sans-serif; */
}

p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
a{
    text-decoration: none;
    color: #fff;
}


/* -------------------------------------------------- */


.banner-bg{
    background-image: url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 90px 0 110px;
}
.banner-bg::before{
    background-color: #000;
    opacity: .5;
}
.banner-content {
    margin: 0px auto;
    text-align: center;
}
.banner-content h1 {
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;
}
.banner-content p{
    margin: 35px 0px;
    padding: 0 240px;
    color: #fff;

}
.link-button{
    background-color: #FF5959;
    padding: 10px 15px;
    border-radius: 5px;
}
.donate-today {
    padding-top: 110px;
    margin: 0 auto;
    text-align: center;
}
.donate-today h2{
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
}
.donate-today p{
    margin: 30px 0 60px;
}
.donate-today ul {
    list-style: none;
    text-align: center;
    margin: 30px 0;
}
.donate-today li {
    display: inline-block;
}
.donate-today li a {
    background: #eee9e9;
    padding: 25px 20px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}
.donate-today li  a.border-item {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}
input.input-amount {
    margin: 30px 0;
    border: none;
    border-bottom: 1px solid #eee3e3;
    padding-bottom: 5px;
    text-align: center;
    width: 740px;
}
.donate-plan{
    padding: 100px 0;
}
.donate-plan-text{
    margin-bottom: 50px;
    text-align: center;
}
.donate-plan-text h2{
    margin-bottom: 40px;
}
.donate-plan-text p{

}
.single-donate-plan {
    padding: 60px 0;
    display: inline-block;
    width: 25%;
    border-radius: 5px;
    margin-left: 5%;
    padding-left: 2%;
}
.single-donate-plan p{
    text-align: left;
}
.single-donate-plan h3{
    margin: 35px 0;
}
.bg-color-one {
    background: rgba(79, 157, 166, 0.1);
}
.bg-color-two {
    background: rgba(255, 89, 89, 0.1);
}
.bg-color-three {
    background: #FFF4D6;
}